.widget__footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  bottom: 0;
  left: 0;
  z-index: 99;
}